
<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
    <a class="item" href="/">Home</a>
    <a class="item active" href="/about">About</a>
    <a class="item" href="http://blog.aliwaseem.com">Blog</a>
</div>

<!-- Page Contents -->
<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)), url(https://i.imgur.com/J0tQcFp.jpg)">
        <div class="ui container">
            <div class="ui large secondary inverted pointing menu">
                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>
                <a class="item" href="/">Home</a>
                <a class="item active" href="/about">About</a>
                <a class="item" href="http://blog.aliwaseem.com">Blog</a>
            </div>
        </div>
        <div class="ui text container">
            <h3 class="ui inverted header title">A LITTLE BIT ABOUT</h3>
            <h1 class="ui inverted header">
                <strong>ALI WASEEM</strong>
            </h1>
        </div>
    </div>

    <div id="item-content" class="ui vertical stripe segment">
        <div class="ui center aligned grid text container">
            <h1 class="ui header">about me</h1>
            <div class="row">
                <p>{{{body}}}</p>
            </div>
        </div>
    </div>

    <div class="ui vertical stripe segment" id="icon-segment">
        <div class="ui center aligned five column grid container icon-bar">
            <div class="column">
                <a href="https://www.facebook.com/ali.waseem.311">
                    <i class="facebook big link icon"></i>
                </a>
            </div>
            <div class="column">
                <a href="https://github.com/awaseem">
                    <i class="github big link icon"></i>
                </a>
            </div>
            <div class="column">
                <a href="https://instagram.com/waseema393">
                    <i class="instagram big link icon"></i>
                </a>
            </div>
            <div class="column">
                <a href="https://twitter.com/waseema393">
                    <i class="twitter big link icon"></i>
                </a>
            </div>
            <div class="column">
                <a href="https://www.linkedin.com/pub/ali-waseem/63/a18/600">
                    <i class="linkedin big link icon"></i>
                </a>
            </div>
        </div>
    </div>

</div>
