<div class="ui two column stackable grid container">
    <div class="row"></div>
    <div class="centered row">
        <h1>Admin</h1>
    </div>
    <div class="centered row">
        <button id="add-item" class="ui green button">Add Portfolio Item</button>
    </div>
</div>