<div class="ui three column centered grid container">
    <div class="row"></div>
    <div class="row"></div>
    <div class="center aligned row">
        <h1>Welcome Back!</h1>
    </div>
    <div class="column">
        <div class="ui segment">
            {{#each messages}}
                <div class="ui error message">
                    {{this}}
                </div>
            {{/each}}
            <form class="ui form" action="/login" method="post">
                <div class="field">
                    <label>Username</label>
                    <input type="text" name="username" placeholder="Enter username">
                </div>
                <div class="field">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="Enter password">
                </div>
                <button type="submit" class="ui green button">Login</button>
            </form>
        </div>
    </div>
</div>